# ******THEORY QUESTIONS******

# Q.1)What are data structures, and why are they important?
Answer:

Data structures are organized ways to store, manage, and retrieve data efficiently. In Python, common data structures include lists, tuples, sets, and dictionaries. They are important because they help in optimizing code performance, managing large amounts of data, and implementing algorithms efficiently.

# Q.2)  Explain the difference between mutable and immutable data types with examples.

In [35]:
#Mutable data types can be changed after creation. Example: list, dictionary, set.
#Example
a = [1, 2, 3]
a[0] = 10  # List is mutable

#Immutable data types cannot be changed after creation. Example: int, float, str, tuple.
# Example
b = (1, 2, 3)
# b[0] = 10 → This will raise an error

# Q.3)What are the main differences between lists and tuples in Python?
| Feature     | List              | Tuple                 |
| ----------- | ----------------- | --------------------- |
| Mutability  | Mutable           | Immutable             |
| Syntax      | `[]`              | `()`                  |
| Performance | Slower            | Faster                |
| Use Case    | When data changes | When data is constant |

# Q.4)Describe how dictionaries store data.
Answer:
Dictionaries store data as key-value pairs. Each key is unique and is mapped to a value. Internally, Python uses a hash table to store dictionary keys and allows quick lookup of values.

In [40]:
#Example 
student = {"name": "John", "age": 20}

# Q.5)Why might you use a set instead of a list in Python?
Answer:

A set is used when you need to store unique elements only and perform fast membership testing. Sets are unordered and do not allow duplicate values, unlike lists.

# Q.6)What is a string in Python, and how is it different from a list?
Answer:

A string is a sequence of characters enclosed in quotes. It is immutable, whereas a list is a collection of elements that can be modified.

In [44]:
#Example
s = "hello"      # Immutable
l = ['h', 'e']   # Mutable

# Q.7)How do tuples ensure data integrity in Python?
Answer:

Tuples are immutable, meaning their contents cannot be changed after creation. This ensures that the data remains consistent and secure throughout the program, which is ideal for fixed data.

# Q.8)What is a hash table, and how does it relate to dictionaries in Python?
Answer:

A hash table is a data structure that maps keys to values using a hash function. In Python, dictionaries use hash tables internally to allow fast access, insertion, and deletion of key-value pairs.

# Q.9)Can lists contain different data types in Python?
Answer:

Yes, Python lists are heterogeneous. They can contain elements of different data types in a single list.

In [51]:
#Example
my_list = [1, "hello", 3.14, True]

# Q.10)Explain why strings are immutable in Python?
Answer:

Strings are immutable to ensure memory efficiency and security. This allows Python to reuse string objects (interning) and avoids unexpected changes when passing strings between functions.

# Q.11)What advantages do dictionaries offer over lists for certain tasks?
Answer:

Dictionaries provide:

- Faster lookup using keys (O(1) time)

- Better data association (key-value mapping)

- Readability when accessing named items

# Q.12)Describe a scenario where using a tuple would be preferable over a list.
Answer:

When you want to store constant data that should not change, like coordinates (x, y) or dates (dd, mm, yyyy), using a tuple is better to ensure the data remains unchanged.

# Q.13)How do sets handle duplicate values in Python?
Answer:

Sets automatically remove duplicate values. When you add duplicate elements to a set, only one copy is stored.

In [56]:
#Example
s = {1, 2, 2, 3}
print(s)  # Output: {1, 2, 3}

{1, 2, 3}

# Q.14)How does the “in” keyword work differently for lists and dictionaries?
Answer:

- In lists, in checks for the presence of a value.

- In dictionaries, in checks for the presence of a key, not value.

In [62]:
#Example
3 in [1, 2, 3]           # True
'name' in {'name': 'Anu'}  # True
'Anu' in {'name': 'Anu'}   # False

False

# Q.15)Can you modify the elements of a tuple? Explain why or why not.
Answer:

No, you cannot modify elements of a tuple because it is immutable. This means once created, the contents of a tuple cannot be changed.

# Q.16) What is a nested dictionary, and give an example of its use case?
Answer:

A nested dictionary is a dictionary within another dictionary. It is useful for representing hierarchical data, such as student records.

In [78]:
#Example
students = {
    "001": {"name": "Anu", "marks": 90},
    "002": {"name": "Raj", "marks": 85}
}

# Q.17) Describe the time complexity of accessing elements in a dictionary.
Answer:

Accessing elements in a dictionary is on average O(1) (constant time) due to the underlying hash table mechanism.

# Q.18) In what situations are lists preferred over dictionaries?
Answer:

Lists are preferred when:

- Order of elements matters

- You are working with sequences

- You don’t need key-based access

# Q.19)Why are dictionaries considered unordered, and how does that affect data retrieval?
Answer:

Until Python 3.6, dictionaries were unordered. Now they maintain insertion order, but are still primarily used for key-based access, not for position-based indexing.

# Q.20)Explain the difference between a list and a dictionary in terms of data retrieval.
Answer:

List: Retrieve elements using an index (position-based).

- Dictionary: Retrieve elements using a key (label-based).
- Lists are suitable for ordered data; dictionaries for associative data.

# ******PRACTICAL QUESTIONS******

# Q.1) Write a code to create a string with your name and print it.

In [178]:
my_name = "Aniket Jadhav"
print(my_name)

Aniket Jadhav

# Q.2 Write a code to find the length of the string "Hello World".

In [181]:
text = "Hello World"
print(len(text))

11

# Q.3) Write a code to slice the first 3 characters from the string "Python Programming".

In [184]:
message = "Python Programming"
print(message[:3])  # Output: Pyt

Pyt

# Q.4)Write a code to convert the string "hello" to uppercase.

In [187]:
word = "hello"
print(word.upper())  # Output: HELLO

HELLO

# Q.5)Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [190]:
sentence = "I like apple"
new_sentence = sentence.replace("apple", "orange")
print(new_sentence)  # Output: I like orange

I like orange

# Q.6)Write a code to create a list with numbers 1 to 5 and print it.

In [193]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

# Q.7)Write a code to append the number 10 to the list [1, 2, 3, 4].

In [196]:
num_list = [1, 2, 3, 4]
num_list.append(10)
print(num_list)  # Output: [1, 2, 3, 4, 10]

[1, 2, 3, 4, 10]

# Q.8)Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [199]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)  # Output: [1, 2, 4, 5]

[1, 2, 4, 5]

# Q.9)Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [202]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])  # Output: b

b

# Q.10)Write a code to reverse the list [10, 20, 30, 40, 50].

In [205]:
data = [10, 20, 30, 40, 50]
print(data[::-1])  # Output: [50, 40, 30, 20, 10]

[50, 40, 30, 20, 10]

# Q.11)Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [207]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

# Q.12)Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [211]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])  # Output: blue

blue

# Q.13)Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [250]:
nums = (10, 20, 5, 15)
print(min(nums))  # Output: 5

5

# Q.14)Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [253]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))  # Output: 1

1

# Q.15)Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [256]:
fruits = ('apple', 'banana', 'mango')
print("kiwi" in fruits)  # Output: False

False

# Q.16)Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [259]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

# Q.17) Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [262]:
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)  # Output: set()

set()

# Q.18)Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [265]:
nums = {1, 2, 3, 4}
nums.remove(4)
print(nums)  # Output: {1, 2, 3}

{1, 2, 3}

# Q.19)Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [268]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

# Q.20)Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [271]:
x = {1, 2, 3}
y = {2, 3, 4}
print(x.intersection(y))  # Output: {2, 3}

{2, 3}

# Q.21)Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [274]:
info = {'name': 'Aniket', 'age': 22, 'city': 'Mumbai'}
print(info)

{'name': 'Aniket', 'age': 22, 'city': 'Mumbai'}

# Q.22)Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [277]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

# Q.23)Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [280]:
person = {'name': 'Alice', 'age': 30}
print(person['name'])  # Output: Alice

Alice

# Q.24)Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [283]:
data = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del data['age']
print(data)

{'name': 'Bob', 'city': 'New York'}

# Q.25)Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [286]:
d = {'name': 'Alice', 'city': 'Paris'}
print('city' in d)  # Output: True

True

# Q.26)Write a code to create a list, a tuple, and a dictionary, and print them all.

In [289]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 1, 'b': 2}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

# Q.27)Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [292]:
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[51, 54, 69, 71, 95]

# Q.28)Write a code to create a list with strings and print the element at the third index.

In [295]:
words = ['apple', 'banana', 'cherry', 'date', 'fig']
print(words[3])  # Output: date

date

# Q.29)Write a code to combine two dictionaries into one and print the result.

In [298]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

# Q.30)Write a code to convert a list of strings into a set.

In [301]:
string_list = ['apple', 'banana', 'apple', 'cherry']
string_set = set(string_list)
print(string_set)  # Output: {'banana', 'cherry', 'apple'}

{'apple', 'cherry', 'banana'}